//
// Scaffolding
// --------------------------------------------------

.vvp {
    // display:inline-block would be closer to the video el's
    // Fix flash reloading when going into fullscreen
    // display:inline-block 更接近video元素的显示形式
    // 修复Flash加载时进入全屏的问题
    display: block;

    position: relative;
    font-family:  $font-family-base;
    font-size: $font-size-em; // 10px
    line-height: $line-height-base;
    color: $text-color;
    background-color: $color-bg;
    direction: ltr;
    text-align: left;
    outline: none;
    @include user-select(none);

    // Fix for Firefox 9 fullscreen (only if it is enabled). Not needed when
    // checking fullScreenEnabled.
    &:-moz-full-screen { position: absolute; }

    &:-webkit-full-screen {
        width: 100% !important;
        height: 100% !important;
    }

    // Fix for iOS tap gray background
    // 取消iOS设备点击后的灰色背景
    -webkit-tap-highlight-color: transparent;

    // Fix for webkit set the font smoothness properties
    // 用于webkit引擎(如chrome)中设置字体的抗锯齿或者说光滑度
    -webkit-font-smoothing: antialiased
}

.vvp-stream,
.vvp-player,
.vvp-service,
.vvp-stage,
.vvp-pulgin {
    @include size(100%, 100%);
    @include display-flex('center', 'center');
    position: absolute;
    left: 0;
    top: 0;
}
.vvp-player {
    flex-direction: column
}
.vvp {
    // * 不建议使用, 兼容性相关暂时使用
    * {
      @include box-sizing(border-box);
    }
    *:before,
    *:after {
      @include box-sizing(border-box);
    }

    // Reset fonts for relevant elements
    // Reset fonts for relevant elements
    input,
    button,
    select,
    textarea {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
    }

    video {
        @include size(100%, 100%);
        transform: none;
    }

    // Links
    // 链接
    a {
      color: $link-color;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
      }

      &:focus {
        @include tab-focus;
      }
    }


    // Figures
    //
    // We reset this here because previously Normalize had no `figure` margins. This
    // ensures we don't break anyone's use of the element.

    figure {
      margin: 0;
    }


    // Images
    img {
      vertical-align: middle;
    }

    // Responsive images (ensure images don't scale beyond their parents)
    .img-responsive {
      @include img-responsive;
    }

    // Rounded corners
    .img-rounded {
      border-radius: $border-radius-large;
    }

    // Image thumbnails
    //
    // Heads up! This is mixin-ed into thumbnails.less for `.thumbnail`.
    .img-thumbnail {
      padding: $thumbnail-padding;
      line-height: $line-height-base;
      background-color: $thumbnail-bg;
      border: 1px solid $thumbnail-border;
      border-radius: $thumbnail-border-radius;
      @include transition(all .2s ease-in-out);

      // Keep them at most 100% wide
      @include img-responsive(inline-block);
    }

    // Perfect circle
    .img-circle {
      border-radius: 50%; // set radius in percents
    }


    // Horizontal rules
    hr {
      margin-top:    $line-height-computed;
      margin-bottom: $line-height-computed;
      border: 0;
      border-top: 1px solid $hr-border;
    }


    // Only display content to screen readers
    //
    // See: http://a11yproject.com/posts/how-to-hide-content/
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
    }

    // Use in conjunction with .sr-only to only display content when it's focused.
    // Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
    // Credit: HTML5 Boilerplate
    .sr-only-focusable {
      &:active,
      &:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
      }
    }


    // iOS "clickable elements" fix for role="button"
    //
    // Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
    // for traditionally non-focusable elements with role="button"
    // see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

    [role="button"] {
      cursor: pointer;
    }
}
