.vvp-localization(vvp_id="root")
    button(vvp_id="button" key="0" aria-haspopup="true", aria-owns="vvp-local-panel", aria-expanded="false", title="本地化")
        span.vvp-txt-btn 国语
    .vvp-panel(vvp_id="panel" id="vvp-local-panel", aria-hidden="true")
        ul(role="menu")
            li(role="menuitem")
                button(key="0" class="vvp-selected", data-vid="XNDc4ODU5MjY4", data-language="英语", data-language-code="en", role="menuitemradio", aria-selected="true") 英语
            li(role="menuitem")
                button(key="1" ata-vid="XNDI5MzIxMDY0", data-language="国语", data-language-code="guoyu", role="menuitemradio", aria-selected="false") 国语
