.vvp-quality
    button(aria-haspopup="true", aria-owns="vvp-quality-panel", aria-expanded="false", title="清晰度") 
        span.vvp-txt-btn 高清
    .vvp-panel(id="vvp-quality-panel", aria-hidden="true")
        ul(role="menu")
            li(role="menuitem")
                button(class="vvp-selected", role="menuitemradio", aria-selected="true") 超清 
            li(role="menuitem")
                button(role="menuitemradio", aria-selected="false") 高清
            li(role="menuitem")
                button(role="menuitemradio", aria-selected="false") 标清
