.vvp-quality
    button(title="高清") 
        span.vvp-txt-btn 高清
    .vvp-panel
        button(class = "vvp-selected", data-vid = "XNDc4ODU5MjY4", data-language = "英语", data-language-code ="en") 英语 
        button(data-vid = "XNDI5MzIxMDY0", data-language = "国语", data-language-code = "guoyu") 国语
