.vvp-volume
    button(aria-label="音量控制", title="音量控制")
        i(class="vvp-ico vvp-ico-volume")
    .vvp-volume-slider(role="slider", aria-valuemin="0", aria-valuemax="100", aria-valuenow="10", aria-valuetext="当前音量10%")
    .vvp-volume-slider-track
    .vvp-volume-slider-handle
