.vvp-player(id="root")
    // 视频信息
    include ../components/videoinfo
    // 广告
    include ../components/advert
    // 视频加载
    include ../components/loading
    // 视频截图
    include ../components/poster
    // 大播放按钮
    include ../components/vvp-play-big-btn
    // 错误信息
    include ../components/error
    // 字幕信息
    include ../components/subtitles
    // 控制面板
    include ../components/dashboard
    // 用户信息交互
    include ../components/feedback
    // 遮罩
    include ../components/overlay
    // 属性信息
    include ../components/contextmenu
