.vvp-controls
    // 播放暂停按钮
    include ./controls/play-btn
    // 视频时间
    include ./controls/time-display
    // 声音 
    //include ./controls/volume
    // 下一个 
    //include ./controls/next
    // 上一个 
    //include ./controls/previous
    // 快进 
    //include ./controls/forward
    // 快退
    //include ./controls/rewind
    // 扩展开关 
    //include ./controls/extend
    // 字幕开关
    include ./controls/subtitles-switch
    // 播放速度
    //include ./controls/speed
    // 剧集
    include ./controls/playshow
    // 本地化
    include ./controls/localization
    // 清晰度
    include ./controls/quality
    // 全屏
    include ./controls/fullscreen
    
