.vvp-progress-mini(role="progressbar", aria-valuenow="0", aria-valuemax="100", aria-valuemin="0", aria-label="播放进度条", aria-valuetext="当前时间 0:01")
    .vvp-progress-mini-track
    .vvp-progress-mini-buffer(style="width:220px;")
    .vvp-progress-mini-played(style="width:120px;")
