.vvp-progress(vvp_id="root")
    .vvp-progress-track
    .vvp-progress-buffer(vvp_id="buffer" style = "width:0px;")
    .vvp-progress-played(vvp_id="played" style = "width:0px;")
    .vvp-progress-handle(vvp_id="handle")
    .vvp-progress-seek
