.vvp-progress
    .vvp-progress-track
    .vvp-progress-buffer(id="buffer" style = "width:0px;")
    .vvp-progress-played(id="played" style = "width:0px;")
    .vvp-progress-handle(id="handle")
    .vvp-progress-seek
