.vvp-progress-mini(vvp_id="root" role="progressbar", aria-valuenow="0", aria-valuemax="100", aria-valuemin="0", aria-label="播放进度条", aria-valuetext="当前视频时间0分0秒")
    .vvp-progress-mini-track
    .vvp-progress-mini-buffer(vvp_id="buffer" style="width:0;", role="progressbar", aria-valuenow="0", aria-valuemax="100", aria-valuemin="0", aria-label="缓冲进度")
    .vvp-progress-mini-played(vvp_id="played" style="width:0;", role="progressbar", aria-valuenow="0", aria-valuemax="100", aria-valuemin="0", aria-label="当前视频已播放0分0秒")
