.vvp-progress-mini(role="progressbar", aria-valuenow="0", aria-valuemax="100", aria-valuemin="0", aria-label="播放进度条", aria-valuetext="当前视频时间10分11秒")
    .vvp-progress-mini-track
    .vvp-progress-mini-buffer(style="width:220px", role="progressbar", aria-valuenow="0", aria-valuemax="100", aria-valuemin="0", aria-label="缓冲进度")
    .vvp-progress-mini-played(style="width:120px", role="progressbar", aria-valuenow="0", aria-valuemax="100", aria-valuemin="0", aria-label="当前视频已播放0分11秒")
