//
// Panel
// --------------------------------------------------

.vvp-panel {
    position:absolute;
    left: 0;
    bottom: 4em;
    padding: 0.2em;
    background: rgba(0 , 0 , 0 , 0.7);
    @include size(100%, auto);
    //@include hide-display();
    display: none;
    ul {
        padding:0;
        flex-direction: column;
        @include size(100%, auto);
        @include display-flex();
    }
    li {
        list-style: none;
        margin-bottom: 0.5em;
        @include size(100%, 2.4em);
        &:last-child{
            margin:0
        }
    }
    button {
        color: $color-lightest;
        display: block;
        font-size: 1.2em;
        @include size(100%, 2.4em);
    }
    .vvp-selected {
        color: $color-darker;
        background: $color-primary
    }
}
