//
// Time
// --------------------------------------------------

.vvp-time-display {
    padding-left: 0.5em;
    font-size: 1.2em;
    cursor: default;
    align-items: center
}
.vvp-time-separator {
    padding: 0 0.2em
}
