//
// Dashboard
// --------------------------------------------------

.vvp-dashboard {
    background: $bg-dashboard;
    border-bottom: 1px solid $color-lighter;
    color: $color;
    position: absolute;
    bottom: 0;
    left: 0;
    @include display-flex();
    @include size(100%, 5em);

    button {
        padding: 0;
        background: none;
        border: none;
        outline: 0;
        @include size(100%, 100%)
    }
}

.vvp-dashboard.vvp-dashboard-hide {
  height: auto;
  .vvp-controls{
    display: none;
  }
  .vvp-progress{
    display: none;
  }
  .vvp-progress-mini{
    display: block;
  }
}
