.vvp-advert
    .vvp-advert-info
        - var countdownHTML = '广告剩余时间<span class="vvp-advert-sec">5</span>秒';
        span.vvp-adver-countdown !{countdownHTML}
        span.vvp-adver-skip
            a(href="http://", target="_blank") 跳过广告
    .vvp-advert-more
        a(href="#", title="") 了解详情 &gt;&gt;
