.vvp-contextmenu(aria-hidden="true")
    ul(role="menu")
        li(role="menuitem") 复制视频地址
        li(role="menuitem") 复制当前时间视频地址
        li(role="menuitem") 复制嵌入代码
        li(role="menuitem") 循环播放
        li(role="menuitem") 意见反馈
        li(role="menuitem") 复制错误信息
        li(role="menuitem") 调试面板 
        li(role="menuitem") 关于Verge视频播放器
