.vvp-dashboard(vvp_id = "root")
    // 迷你进度条
    include ./dashboard/progress-mini
    // 进度条 
    include ./dashboard/progress
    // 视频预览
    //include ./dashboard/storyboard
    // 控制器
    include ./dashboard/controls
