extends layout/layout

block variables
    include verge/variables

block stylesheets
    link(href = csspath rel = 'stylesheet')

block scripts
    //script(src = bowerpath + 'modernizr/modernizr.js')

block verge
    include verge/verge
