// 全局变量设置
- var currentPage = 'index'
- var pageTitle = 'Verge Video Player UItest'
- var metaDesc = 'Test vvp in the youku.com/player.youku.com'
- var assetspath = '../assets/vvp.css'
- var csspath = '../stylesheets/vvp.css'
- var jspath = '../scripts/vvp.css'
- var bowerpath = '../../bower_components/'
