.vvp(vvp_id="root", title="Verge Video Player", tabindex="0", aria-label="Verge Video Player", style="width:640px;height:360px")
    // 播放器
    include ../components/stream
    // player播放层
    include ../layout/player
    // service业务逻辑层
    include ../layout/service
    // plugin插件层
    include ../layout/plugin
    // 触发器
    include ../components/trigger
    // 触发器
    include ../layout/stage.jade
